.container {
    position: relative;
}

.label {
    font-size: 2rem;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 15px;
}

.label p {
    margin-bottom: 5px;
    text-align: center;
}

.main_input {
    border-radius: 5px;
    outline: none;
    border: 3px solid greenyellow;
    font-size: 1.6rem;
    width: 100%;
    color: green;
}

.cities_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    background-color: palegreen;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
}

.city_item {
    cursor: pointer;
    padding: 5px;
    color: white;
}

.city_item:hover {
    background-color: greenyellow;
}